
                  <!--******************* EDIT TYPE START *********************-->
                  <div class="modal" id="typeEditModal">
                      <div class="modal-content-custom">
                      </div>
                  </div>
                  <!--******************* EDIT TYPE END *********************-->

                  <!--******************* NEW TYPE START *********************-->
                  <div class="modal" id="typeNewModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* NEW TYPE END *********************-->

                  <!--******************* EDIT PRODUCT START *********************-->
                  <div class="modal" id="productEditModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* EDIT PRODUCT END *********************-->

                  <!--******************* NEW PRODUCT START *********************-->
                  <div class="modal" id="productNewModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* NEW PRODUCT END *********************-->

                  <!--******************* EDIT PROMO START *********************-->
                  <div class="modal" id="promoEditModal">
                   <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* EDIT PROMO END *********************-->

                  <!--******************* NEW PROMO START *********************-->
                  <div class="modal" id="promoNewModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* NEW PROMO END *********************-->

                  <!--******************* EDIT INFO START *********************-->
                  <div class="modal" id="infoEditModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* EDIT INFO END *********************-->

                  <!--******************* NEW INFO START *********************-->
                  <div class="modal" id="infoNewModal">
                   <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* NEW INFO END *********************-->

                  <!--******************* EDIT POWER START *********************-->
                  <div class="modal" id="powerEditModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* EDIT POWER END *********************-->

                  <!--******************* NEW POWER START *********************-->
                  <div class="modal" id="powerNewModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* NEW POWER END *********************-->

                   <!--******************* EDIT ALBUM START *********************-->
                  <div class="modal" id="albumEditModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* EDIT ALBUM END *********************-->

                  <!--******************* NEW ALBUM START *********************-->
                  <div class="modal" id="albumNewModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* NEW ALBUM END *********************-->


                   <!--******************* EDIT BRAND START *********************-->
                  <div class="modal" id="brandEditModal">
                   <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* EDIT BRAND END *********************-->

                  <!--******************* NEW BRAND START *********************-->
                  <div class="modal" id="brandNewModal">
                    <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* NEW BRAND END *********************-->





                   <!--******************* SHOW PRODUCT START *********************-->
                  <div class="modal" id="productShowModal">
                   <div class="modal-content-custom">
                    </div>
                  </div>
                  <!--******************* SHOW PRODUCT END *********************-->
