

.fontastic-container {
  width: 100%;
  max-height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  overflow-y: scroll;
  padding: 10px;
}

.fontastic-container-v2 {
  width: 100%;
  max-height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  overflow-y: scroll;
  padding: 10px;
}

.font-cont-tastic {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  border-radius: 4px;
  color: grey;
}

.font-cont-tastic-v2 {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  border-radius: 4px;
  color: grey;
}

.fontastic-hover-button:hover {
  color: #2AC88E;
}

.font-cont-tastic:hover {
  border-radius: 4px;
}

.font-cont-tastic-v2:hover {
  border-radius: 4px;
}

.dynamic-font-append {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  padding-top: 7px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.dynamic-font-append-v2 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  padding-top: 7px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.dynamic-font-append-text {
  font-family: "Circular-Medium";
  font-size: 13px;
  color: #2AC88E;
  margin-bottom: 20px;
}


.home-content-container {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #353E55;
}


.home-content-container-transparent {
  display: flex;
  width: 65%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgba(35,35,39,1);
  margin-bottom: 30px;
  margin-top: 16px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .home-content-container-transparent {
    width: 90%;
  }
}




.hcct-color {
  background-color: white;
}

.partners-link {
  font-family: "Circular-Medium";
  font-size: 14px;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  transition: 0.3s ease;
}


.home-each-links {
  display: flex;
  width: 80%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}







.header-on-home {
  font-family: "Circular-Bold";
  font-size: 20px;
  color: white;
}

.header-on-home-2 {
  font-family: "Circular-Bold";
  font-size: 20px;
  color: rgba(45,45,55,1);
}


.home-content-item-right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.home-content-item-left {
  height: 40px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.home-content-icon {
  font-size: 70px;
  color: rgba(255,255,255,0.8);
}

.home-content-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 200;
  color: rgba(255,255,255,0.8);
}




.home-content-icon-color {
  font-size: 70px;
  color: rgba(55,55,55,0.8);
}

.home-content-text-color {
  font-family: "Circular-Book";
  font-size: 14px;
  font-weight: 200;
  color: rgba(255,255,255,0.8);
  line-height: 22px;
}

.home-content-text-color-2 {
  font-family: "Circular-Book";
  font-size: 14px;
  font-weight: 200;
  color: rgba(45,45,55,0.8);
  line-height: 22px;
  margin-bottom: 20px;
}




.home-small-container {
  width: 100%;
  height: 60px;
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-small-container-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
}


.home-small-header {
  font-family: "Circular-Book";
  font-size: 12px;
  font-weight: 200;
  color: rgba(55,55,55,0.8);
}





.hsh-v2-one {
  font-family: "Circular-Medium";
  font-size: 12px;
  font-weight: 200;
  color: rgba(55,55,55,0.7);
  letter-spacing: -0.3px;
}

.hsh-v2-two {
  font-family: "Circular-Medium";
  font-size: 12px;
  font-weight: 200;
  color: rgba(55,55,55,0.7);
  letter-spacing: -0.3px;
}

.hsh-v2-three {
  font-family: "Circular-Medium";
  font-size: 12px;
  font-weight: 200;
  color: rgba(55,55,55,0.7);
  letter-spacing: -0.3px;
}






.home-small-header-title {
  font-family: "Circular-Medium";
  font-size: 15px;
  font-weight: 200;
  color: rgba(55,55,55,0.9);
  transition: 0.2s ease;
}

.flex-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.4s ease;
  padding-right: 10px;
}

.flex-one:hover {
  cursor: pointer;
}

.flex-one:hover .home-small-container-item .home-small-header-title {
  color: rgba(55,55,55,0.9);
  transition: 0.4s ease;
}


// .modal {
//   width: 50%;
//   height: 70%;
//   background-color: white;
//   top: 15%;
//   left: 25%;
//   border-radius: 6px;
// }

.modal-header {
  width: 100%;
  background-color: white;
  z-index: 1;
  padding: 0;
  height: 70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  height: 60px;
  position: relative;
  border: none;
}

.modal-content {
  border: none;
  box-shadow: none;
  border-radius: 8px;
}

.modal-dialog {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}

.modal-body {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

.checkbox-padding {
  padding-left: 45px;
}

.modal {
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-radius: 6px;
}


.modal-backdrop.in {
  opacity: 0.85;
}

.checkbox label {
  padding-left: 0;
}

.modal.in {
  height: 100%;
}



  .header-on-modal {
    height: 74px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 25px;
    border-bottom: 1px solid rgba(66,66,66,0.1);
  }

  .header-on-modal-2 {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 25px;
    z-index: 1;
  }

.close {
  position: absolute;
  top: 23px;
  right: 19px;
}

.form-in-modal {
  padding-top: 20px;
  height: 80%;
}




.container-without-button {
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
  padding-bottom: 60px;
}


.label-on-modal-dashboard {
  font-size: 13px;
  font-family: "Circular-Book";
  color: #59748C;
  margin-bottom: 5px;
  opacity: 0.8;
}

.form-control {
  box-shadow: none;
  height: 40px;
  font-size: 13px;
  font-family: "Circular-Book";
  color: #424242;
  opacity: 0.9;
  margin-bottom: 25px;
}

.form-control:focus {
  outline: none;
  border-color: $orange;
  box-shadow: none;
}


.form-inline {
  height: 40px;
}



.form-active-promo {
  margin-right: 80%;
}


.form-inline-date {
  display: flex;
  justify-content: flex-start;
}


.form-inline-date-column {
  margin-right: 35px;
  margin-bottom: 15px;
}

a {
  font-family: "Circular-Book";
  font-size: 14px;
  color: rgba(55,55,55,0.7);
}

.checkbox label {
  margin-bottom: -10px;
  margin-right: 15px;
}

.checkbox-inline-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.edit-product-container {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15%;
  padding-right: 15%;
}






.label-on-modal-dashboard {
  display: flex;
  align-items: center;
}

.small-photos-indicator {
  font-size: 10px;
  font-family: "Circular-Bold";
  margin-left: 5px;
  padding-top: 2px;
  color: $red;
}

.border-on-checkbox {
  display: flex;
  align-items: center;
  border: none;
  padding-top: 15px;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 0;
  border-radius: 3px;
}

.home-current-promo {
  width: 100%;
  height: 60px;
  padding: 25px 25px;
  display: flex;
  align-items: center;
  background-color: $red;
  border-radius: 4px;
  justify-content: center;
}

.home-current-promo-mobile {
  width: 100%;
  height: 45px;
  padding: 18px 18px;
  display: flex;
  align-items: center;
  background-color: $red;
  border-radius: 4px;
  justify-content: space-between;
  flex-direction: column;
}

.promo-mobile-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-with-visible {
  width: 90%;
}


.hcp-title {
  font-size: 14px;
  font-family: "Circular-Book";
  color: $red;
  margin-right: 7px;
}

.hcp-title-mobile {
  font-size: 13px;
  font-family: "Circular-Medium";
  border-radius: 4px;
  color: $red;
}

.icon-adjust {
  font-size: 14px;
  color: rgba(40,40,45,0.9);
  padding-top: 5px;
}


.hcp-block {
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hcp-block-number {
  font-size: 14px;
  font-family: "Circular-Medium";
  color: $red;
  margin-right: 8px;
}

.hcp-block-category {
  font-size: 14px;
  font-family: "Circular-Book";
  color: rgba(40,40,45,0.7);
  letter-spacing: -0.2px;
}

.hcp-block-category-mobile {
  font-size: 14px;
  font-family: "Circular-Medium";
  color: rgba(255,255,255,0.92);
  letter-spacing: -0.2px;
}

.hcp-block-category-mobile-thin {
  font-size: 14px;
  font-family: "Circular-Book";
  color: rgba(255,255,255,0.92);
  letter-spacing: -0.2px;
}

.hcp-block-category-mobile-bold {
  font-size: 14px;
  font-family: "Circular-Medium";
  color: rgba(255,255,255,0.92);
  letter-spacing: -0.2px;
}

.hcp-block-end-date {
  font-size: 14px;
  font-family: "Circular-Medium";
  color: rgba(40,40,45,0.8);
  margin-right: 15px;
  letter-spacing: -0.2px;
}

.hcp-block-end-date-mobile {
  font-size: 14px;
  font-family: "Circular-Medium";
  color: rgba(40,40,45,0.8);
  letter-spacing: -0.2px;
}

.home-content-column {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(205,205,215,0.3);
  align-items: center;
  padding-top: 16px;
  a {
    width: 65%;
  }
}


.separator {
  border-right: 1px solid grey;
  height: 25%;
}


.search-form-on-home {
  width: 60%;
  .form-control {
    margin-bottom: 0;
    border: none;
  }
  .form-group {
    margin-bottom: 0;
    width: 100%;
    border: none;
  }
}

.home-form-flex {
  width: 100%;
  height: 50px;
  display: flex;
  padding-left: 8px;
  padding-right: 12px;
  border: 1px solid rgba(175, 175, 185, 0.3);
  border-radius: 3px;
}

form.simple_form.home_choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  form.simple_form.home_choice {
    padding-left: 5%;
    padding-right: 5%;
  }
}

#home-search-form-submit {
  width: 38%;
  font-family: "Circular-Medium";
  font-size: 14px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: grey;
  color: white;
  cursor: pointer;
}

















