.promo-index-fullpage {
  width: 100%;
  height: 100%;
  margin-top: 190px;
  padding-left: 22%;
  padding-right: 22%;
}


.promo-index-photo {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 170px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.promo-index-timer {
  width: 100%;
  border-radius: 3px;
  margin-top: 6px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6px;
  background-color: rgba(255,255,255,1);
}

.promo-index-title {
  width: 100%;
  border-radius: 3px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6px;
  background-color: rgba(255,255,255,1);
}

.promo-index-link {
  width: 100%;
  border-radius: 3px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
  background-color: rgba(255,255,255,1);
}

.promo-index-title-text {
  font-size: 15px;
  font-family: "Circular-Book";
  opacity: 0.85;
}

.promo-index-timer-text {
  font-size: 13px;
  font-family: "Circular-Medium";
  opacity: 0.85;
}

.timer-arrows {
  font-size: 24px;
  opacity: 0.75;
  padding-top: 5px;
}




.promo-index-reduction {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.promo-index-reduction-big-number {
  font-size: 40px;
  font-family: "Circular-light";
  opacity: 0.85;
}

.promo-index-reduction-text {
  font-size: 16px;
  font-family: "Circular-Medium";
}






.promo-index-text-display {
  position: absolute;
  bottom: -40px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.promo-index-description {
  position: absolute;
  bottom: -65px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.promo-index-text-bold {
  font-size: 19px;
  font-family: "Circular-Bold";
  opacity: 0.9;
}


.promo-index-text-thin {
  font-size: 16px;
  font-family: "Circular-Book";
  color: $red;
  margin-left: 15px;
}

.promo-start {
  color: $green;
}

.promo-end {
  color: $red;
}

.promo-index-description-text {
  font-size: 14px;
  font-family: "Circular-Book";
}


.help-block {
  font-size: 12px;
  font-family: "Circular-Medium";
  color: $red !important;
  margin-top: -16px;
  margin-bottom: 0;
}

.has-error .form-control {
  border-color: $red !important;
  box-shadow: none;
}

.promo-end-timer {
  font-size: 11px;
  font-family: "Circular-Bold";
}





