.score-form-container {
  width: 240px;
  height: 137px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(205,205,215,0.3);
  position: relative;
}

.score-form-absolute {
  position: absolute;
  right: 0;
  bottom: -150px;
  z-index: 400;
  display: none;
}

.score-form-trigger {
  font-family: "Circular-Medium";
  cursor: pointer;
  font-size: 16px;
  color: rgba(40,40,45,0.75);
}

.score-text {
  font-family: "Circular-Medium";
  font-size: 14px;
}





.caret-custom-v2 {
  position: relative;
  top: -23px;
  right: -45px;
}

.caret-custom-v2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 8px solid rgba(205,205,215,0.3);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.caret-custom-v2:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  border-bottom: 7px solid white;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}




form#new_score {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.score_value {
  width: 100%;
  height: 30px;
  margin: 0;
}

.score-form-button {
  font-size: 14px;
  color: rgba(50,50,55,0.8);
  font-family: "Circular-Book";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0px;
  width: 50%;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.score-form-validate-button {
  font-size: 14px;
  color: rgba(50,50,55,0.8);
  font-family: "Circular-Book";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0px;
  width: 50%;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.score-form-cancel-button {
  font-size: 14px;
  color: rgba(50,50,55,0.8);
  font-family: "Circular-Book";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0px;
  width: 50%;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.red-score-btn {
  color: $green2;
  transition: 0.3s ease;
}

.score-form-big-icon-v3 {
  font-size: 13px;
  padding-top: 4px;
}

.exclusive-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

.sfbi-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(40,40,45,0.5);
  color: rgba(40,40,45,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  margin-left: 7px;
  transition: 0.3s ease;
}

.sfbi-circle-green {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(40,40,45,0.5);
  color: rgba(40,40,45,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  margin-left: 7px;
  transition: 0.3s ease;
}

.btn-default:hover {
  background-color: white;
  border: 0;
  color: rgba(50,50,55,0.8);
}

.btn-default:focus {
  background-color: white;
  border: 0;
  color: rgba(50,50,55,0.8);
  outline: 0;
}

.btn-default:visited {
  background-color: white;
  border: 0;
  color: rgba(50,50,55,0.8);
  outline: 0;
}

.btn-default:active {
  background-color: white;
  border: 0;
  color: rgba(50,50,55,0.8);
  outline: 0;
}


.score-form-button:hover .sfbi-circle {
  color: $red;
  border-color: $red;
}

.score-form-button:hover .sfbi-circle-green {
  color: $green;
  border-color: $green;
}


.imp-green-button {
  transition: 0.3s ease;
}

.imp-red-button {
  transition: 0.3s ease;
}


.score-form-button:hover .imp-green-button {
  color: $green;
}

.score-form-button:hover .imp-red-button {
  color: $red;
}








.score-form-validate-button:hover .sfbi-circle {
  color: $red;
  border-color: $red;
}

.score-form-validate-button:hover .sfbi-circle-green {
  color: $green;
  border-color: $green;
}


.score-form-validate-button:hover .imp-green-button {
  color: $green;
}

.score-form-validate-button:hover .imp-red-button {
  color: $red;
}








.score-form-cancel-button:hover .sfbi-circle {
  color: $red;
  border-color: $red;
}

.score-form-cancel-button:hover .sfbi-circle-green {
  color: $green;
  border-color: $green;
}


.score-form-cancel-button:hover .imp-green-button {
  color: $green;
}

.score-form-cancel-button:hover .imp-red-button {
  color: $red;
}





