<div class="custom-footer">
  <div class="cf-left">
    <div class="cf-left-email">
      <div class="icon-letter-mail-1" style="font-size: 20px;color: white;margin-right: 12px;padding-top: 6px;"></div>
      <div class="cf-left-email-text extra-thin">ads.pascale@orange.fr</div>
    </div>
    <div class="cf-left-email">
      <div class="icon-phone-classic-off" style="font-size: 20px;color: white;margin-right: 12px;padding-top: 4px;"></div>
      <div class="cf-left-email-text">04 74 01 05 11</div>
    </div>
  </div>
  <div class="cf-middle">
    <div class="cf-left-adress">
      <div class="cf-left-email-text extra-thin smaller">35 rue des martinets</div>
    </div>
    <div class="cf-left-adress">
      <div class="cf-left-email-text extra-bold">69210 L'Arbresle</div>
    </div>
  </div>
  <div class="cf-right hidden-xs">
    <div class="cf-left-adress">
      <div class="cf-left-creator-text footer-opacity">Made with</div>
      <div class="icon-heart-1 footer-heart"></div>
      <div class="cf-left-creator-text footer-opacity">by</div>
    </div>
    <div class="cf-left-adress">
      <div class="icon-angellist footer-angel"></div>
      <div class="cf-left-creator-text extra-bold">Origamik</div>
      <div class="cf-left-creator-text extra-thin"> studio</div>
    </div>
  </div>
</div>
