<div class="graph-container-sm">

  <div class="score-counter-sm total-score-sm" data-number="<%= month %>%"></div>

  <div class="score-graph-sm" data-percent="<%= 100 - month %>%">
    <div class="score-graph-bar-sm">
      <div class="score-graph-indicator-sm">
        <div class="indicator-mask-sm"></div>
      </div>
    </div>
  </div>

</div>
