<div class="graph-container">

  <div class="score-counter total-score" data-number="<%= month %>%"></div>

  <div class="score-graph" data-percent="<%= 100 - month %>%">
    <div class="score-graph-bar">
      <div class="score-graph-indicator">
        <div class="indicator-mask"></div>
      </div>
    </div>
  </div>

</div>
