.average-score-graph {
  border-radius: 8px;
  width: 70px;
  height: 7px;
  background-color: rgba(205,205,215,0.7);
  margin-right: 14px;
  margin-left: 14px;
  position: relative;
}

.average-dyn-data {
  position: absolute;
  left: 0;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: $red;
  opacity: 0.8;
  transition: 0.4s ease;
}

.score-count-number {
  font-size: 14px;
  font-family: "Circular-Book";
  color: rgba(30,30,40,0.8);
  padding-bottom: 2px;
}
