.custom-card {
  height: 370px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.custom-card-top {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  position: relative;
}

.cct-title {
  font-family: "Circular-Bold";
  font-size: 15px;
  color: rgba(30,30,40,0.8);
  position: relative;
}

.cct-copyright {
  position: absolute;
  top: -1px;
  right: -13px;
  font-size: 10px;
}

.custom-card-middle {
  width: 100%;
  height: 75%;
  display: flex;
  border-top: 1px solid rgba(205,205,215,0.3);
  border-bottom: 1px solid rgba(205,205,215,0.3);
}

.ccm-left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.ccm-right {
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.custom-card-bottom {
  width: 100%;
  height: 10%;
  display: flex;
}

.ccb-left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ccb-middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ccb-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}




.custom-card-bottom-left-btn {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 2px;
  color: #183446;
  transition: 0.3s ease;
  font-family: "Circular-Medium";
  font-size: 16px;
  &:hover {
    color: white;
    background-color: #183446;
  }
  &:visited {
    color: $red;
  }
}

.custom-card-bottom-middle-btn {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #334956;
  transition: 0.3s ease;
  font-family: "Circular-Medium";
  font-size: 16px;
  &:hover {
    color: white;
    background-color: #334956;
  }
  &:visited {
    color: $red;
  }
}

.custom-card-bottom-right-btn {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3AAFB9;
  transition: 0.3s ease;
  font-family: "Circular-Medium";
  font-size: 16px;
  &:hover {
    color: white;
    background-color: #3AAFB9;
  }
  &:visited {
    color: $red;
  }
}


.product-guarantee-circle {
  width: 50px;
  height: 100%;
  font-size: 15px;
  font-family: "Circular-Black";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  opacity: 1;
}

.cct-guarantee {
  position: absolute;
  right: 5px;
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-guarantee-text {
  font-size: 13px;
  font-family: "Circular-Medium";
  color: $orange;
}


.cct-powers {
  width: 125px;
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4px;
  opacity: 0.75;
}

.cct-icon {
  margin-right: 10px;
  font-size: 12px;
}

.ccm-info-container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
}

.ccm-info-title {
  font-size: 13px;
  font-family: "Circular-Black";
  color: rgba(30,30,40,0.8);
  margin-right: 8px;
}

.ccm-info-content {
  font-size: 13px;
  font-family: "Circular-Book";
  color: rgba(30,30,40,0.8);
}


.cct-small-text {
  font-size: 10px;
  font-family: "Circular-Book";
  margin-top: -5px;
}

.cct-icon-size {
  font-size: 18px;
  padding-top: 3px;
}

.cct-tooltip {
  opacity: 0;
  position: absolute;
  bottom: -30px;
  left: -68%;
  width: 120px;
  height: 30px;
  font-size: 11px;
  background-color: white;
  color: rgba(30,30,40,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(205,205,215,0.3);
}

.product-guarantee-circle:hover .cct-tooltip {
  opacity: 1;
  transition: 0.3s ease;
}

.product-guarantee-circle:hover {
  color: $red;
  transition: 0.4s ease;
}


