.custom-card {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transition: 0.3s ease;
  position: relative;
  padding: 20px;
}

.new-link-product {
  font-family: "Circular-Medium";
  font-size: 14px;
  color: rgba(30,30,40,0.8);
  padding: 4px 17px;
  border: 1px solid grey;
  border-radius: 30px;
}

.custom-card-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.cct-absolute-services-container {
  width: 100%;
  height: 147px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  bottom: 74px;
  left: 0;
  display: none;
}

.cct-absolute-quotation-container {
  width: 65%;
  height: 360px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 390px;
  left: 0;
  display: none;
  z-index: 6000;
}

.cct-asc-relative {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-top: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: flex-start;
    flex-direction: column;
  }
  .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.cct-asc-relative-column {
  width: 100%;
  height: 76%;
  border-radius: 5px;
  padding-top: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cct-asc-rel-col-header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wiz-header-container {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.cct-asc-rel-col-footer {
  width: 100%;
  height: 80%;
  display: flex;
}

.cct-real-footer {
  width: 100%;
  display: flex;
  align-items: center;
}

.cct-asc-rel-col-footer-01 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cct-asc-rel-col-footer-02 {
  width: 50%;
  height: 100%;
  display: flex;
  padding-left: 16px;
}

.cct-asc-rel-item {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}






.cct-title {
  font-family: "Circular-Black";
  font-size: 19px;
  color: rgba(30,30,40,0.8);
  position: relative;
  letter-spacing: -0.2px;
}

.cct-copyright {
  position: absolute;
  top: -1px;
  right: -13px;
  font-size: 10px;
}

.custom-card-middle {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
}

.ccm-left {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(205,205,215,0.3);
}

.ccm-right {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 2px;
}

.custom-card-bottom {
  width: 100%;
  height: 55px;
  display: flex;
  position: relative;
}

.custom-card-bottom-right-absolute {
  position: absolute;
  right: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ccb-left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ccb-middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.ccb-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}




.custom-card-bottom-left-btn {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 2px;
  color: rgba(40,40,45,0.9);
  transition: 0.3s ease;
  font-family: "Circular-Book";
  font-size: 14px;
  margin-left: 12px;
  &:hover {
    color: $red;
  }
  &:visited {
    color: $red;
  }
}

.custom-card-bottom-middle-btn {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #334956;
  transition: 0.3s ease;
  font-family: "Circular-Medium";
  font-size: 16px;
  &:hover {
    color: $red;
  }
  &:visited {
    color: $red;
  }
}

.custom-card-bottom-right-btn {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(40,40,45,0.9);
  transition: 0.3s ease;
  font-family: "Circular-Book";
  font-size: 14px;
  padding-top: 5px;
  &:hover {
    color: $red;
  }
  &:visited {
    color: $red;
  }
}


.product-guarantee-circle {
  width: 27px;
  height: 27px;
  font-size: 13px;
  border: 1px solid;
  border-radius: 50%;
  padding-top: 2px;
  font-family: "Circular-Black";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  opacity: 1;
  margin-right: 10px;
}

.cct-guarantee {
  position: absolute;
  right: 0;
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.product-guarantee-text {
  font-size: 13px;
  font-family: "Circular-Medium";
  color: $orange;
}


.cct-powers {
  width: 125px;
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4px;
  opacity: 0.75;
}

.cct-icon {
  margin-right: 10px;
  font-size: 12px;
}

.ccm-info-container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
}

.ccm-info-title {
  font-size: 13px;
  font-family: "Circular-Black";
  color: rgba(30,30,40,0.8);
  margin-right: 8px;
}

.ccm-info-content {
  font-size: 13px;
  font-family: "Circular-Book";
  color: rgba(30,30,40,0.8);
}


.cct-small-text {
  font-size: 10px;
  font-family: "Circular-Book";
  margin-top: -5px;
}

.cct-icon-size {
  font-size: 13px;
  padding-top: 3px;
}

.cct-tooltip {
  opacity: 0;
  position: absolute;
  bottom: -30px;
  left: -68%;
  width: 120px;
  height: 30px;
  font-size: 11px;
  background-color: white;
  color: rgba(30,30,40,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(205,205,215,0.3);
}

.product-guarantee-circle:hover .cct-tooltip {
  opacity: 1;
  transition: 0.3s ease;
}

.product-guarantee-circle:hover {
  color: $red;
  transition: 0.4s ease;
}


.dynamic-bottom-margin {
  transition: 0.3s ease;
  margin-bottom: 180px;
}

.dynamic-bottom-margin-big {
  transition: 0.3s ease;
  margin-bottom: 420px;
}

.dynamic-top-margin {
  transition: 0.3s ease;
  margin-top: 160px;
}



.cct-asc-caret {
  position: absolute;
  font-size: 28px;
  color: white;
  bottom: -27px;
  right: 37px;
  transition: 0.3s ease;
}

.quotation_blindtype select #quotation_blintype {
  width: 200px;
}

.cct-asc-relative-column #new_quotation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  padding-bottom: 0;
}

.cct-asc-relative-column #new_quotation .form-control {
  height: 100%;
  margin-bottom: 0;
}

.cct-asc-relative-column #new_quotation .form-group.text.required.quotation_message {
  margin-bottom: 8px;
  width: 100%;
  height: 80%;
}



.cct-asc-relative-column #new_quotation textarea.form-control {
  height: 100%;
  padding-top: 9px;
}


.ajax-form-flex-item-left {
  display: flex;
  width: 50%;
  height: 100%;
  border-right: 1px solid rgba(175,175,185,0.3);
  align-items: center;
}

.ajax-form-flex-item-right {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}

.ajax-form-flex-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 36px;
  opacity: 0.8;
  padding-top: 5px;
}

.ajax-form-flex-icon-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 36px;
  padding-top: 5px;
  color: $red;
}


.ajax-form-flex .form-group {
  margin-bottom: 0;
  width: 100%;
}





.cct-asc-relative-column #new_quotation .form-control:nth-last-child(2) {
  border: 0px solid white;
}

.ajax-form-flex-column {
  display: flex;
  width: 80%;
  height: 100%;
}

.cct-asc-caret-up {
  position: absolute;
  font-size: 28px;
  color: white;
  top: -21px;
  left: 44px;
  transition: 0.3s ease;
}

.cct-asc-bigtext {
  font-size: 12px;
  font-family: "Circular-Medium";
  color: rgba(30,30,35,0.75);
  letter-spacing: -0.2px;
}

.ajax-quotation-btn {
  width: 120px;
  background-color: rgba(30,30,33,0.9);
  color: white;
  font-family: "Circular-Medium";
  font-size: 13px;
  border: none !important;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 5px;
}

.ajax-quotation-btn-close-trigger {
  width: 120px;
  background-color: rgba(30,30,33,0.9);
  color: white;
  font-family: "Circular-Medium";
  font-size: 13px;
  border: none !important;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
}

.ajax-quot-form-head-title {
  font-family: "Circular-Bold";
  font-size: 18px;
  opacity: 1;
  letter-spacing: -0.5px;
  margin-right: 6px;
  color: $red;
  display: flex;
  align-items: center;
}

.ajax-quot-form-head-title-small {
  font-family: "Circular-Book";
  font-size: 15px;
  opacity: 0.9;
}

.ajax-quot-form-head-icon {
  font-size: 24px;
  padding-top: 4px;
  margin-right: 5px;
  opacity: 0.9;
}


.cct-asc-relative-column form#new_quotation input::placeholder {
  color: rgba(30,30,32,0.8);
  font-size: 13px;
}


.cct-asc-relative-column form#new_quotation input.form-control {
  border: 1px solid transparent;
  padding-left: 1px;
}

.cct-asc-relative-column form#new_quotation select.form-control {
  border: 1px solid transparent;
  color: rgba(30,30,32,0.8);
  font-size: 13px;
}

.cct-asc-relative-column form#new_quotation textarea::placeholder {
  color: rgba(30,30,32,0.8);
  font-size: 13px;
}

.cct-asc-relative-column form#new_quotation textarea.form-control {
  border: 1px solid rgba(175,175,185,0.3);
  border-radius: 3px;
  box-shadow: none !important;
  resize: none;
  appearance: none;
}

.cct-asc-relative-column .form-group.string.required.quotation_address {
  width: 100%;
}


.ajax-form-alternate-demand {
  font-family: "Circular-Book";
  font-size: 15px;
  color: $red;
}

.ajax-form-alternate-demand-phone {
  font-family: "Circular-Bold";
  font-size: 15px;
  margin-right: 14px;
  color: $red;
}

.afad-container {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 14px;
}

.span-response {
  font-family: "Circular-Book";
  font-size: 13px;
  margin-left: 10px;
}

.ajax-dyna-quotation:hover {
  color: lightseagreen;
}

.ajax-dyna-quotation {
  transition: 0.3s ease;
  font-family: "Circular-Book";
  font-size: 14px;
  cursor: pointer;
}


.ajax-quot-full-product-container {
  height: 50%;
  border-radius: 4px;
  display: flex;
}

.aqfp-item-01 {
  height: 100%;
  display: flex;
  align-items: center;
}

.aqfp-item-02 {
  height: 100%;
  display: flex;
  align-items: center;
}

.aqfp-icon {
  margin-right: 8px;
  margin-left: 14px;
  color: rgba(50,50,55,0.7);
  padding-top: 5px;
  font-size: 16px;
}

.aqfp-text {
  font-family: "Circular-Book";
  font-size: 13px;
  color: rgba(50,50,55,0.8);
  margin-right: 14px;
}

.real-score-button {
  font-family: "Circular-Medium";
  font-size: 14px;
  letter-spacing: -0.2px;
}

.separator-v2 {
  height: 100%;
  border-left: 1px solid rgba(200,200,205,0.3);
}

.separator-v3 {
  height: 100%;
  border-left: 1px solid rgba(200,200,205,0.3);
  margin-right: 16px;
  margin-left: 16px;
}

.new-green-color {
  color: $green2;
}

.new-red-color {
  color: $red;
}

.services-guarantee {
  font-family: "Circular-Medium";
  font-size: 14px;
  margin-right: 14px;
   margin-left: 7px;
}


.await-ajax-tabs {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: darkgrey;
  font-size: 13px;
  font-family: "Circular-Medium";
  background-color: rgba(205,205,215,0.3);
}

.ajax-waiting {
  font-size: 27px;
  margin-top: 10px;
}




.javascript-border {
  border-color: orange;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
