
.modal-content-custom {
  width: 70%;
  left: 15%;
  height: 70%;
  top: 15%;
  position: fixed;
  border-radius: 2px;
  overflow: hidden;
  z-index: 5000;
}

.modal-content-custom-v2 {
  width: 90%;
  left: 5%;
  height: 90%;
  top: 5%;
  position: fixed;
  border-radius: 2px;
  overflow: hidden;
  z-index: 5000;
}

.modal-content-custom form {
  height: 100%;
}

@media (min-width: 768px) {
  .modal-content-custom {
    width: 50%;
    left: 25%;
  }
}


.modal-header-custom {
  height: 13%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.modal-header-custom .close {
  top: calc(50% - 10px);
  right: 25px;
}

.close {
  font-size: 20px;
}

.modal-body-custom {
  height: 77%;
  width: 100%;
  display: flex;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal-footer-custom {
  height: 10%;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.modal-backdrop-custom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  z-index: 1000;
  opacity: 0.5;
  display: none;
}

.modal-custom-absolute {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(35,35,38,0.75);
  color: white;
}

.mca-item-start {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mca-item-center {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mca-item-end {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.curs-point {
  cursor: pointer;
}













