.navigation-v2-fixed {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,1);
  position: fixed;
  z-index: 3;
  top: 0;
  border-bottom: 1px solid rgba(185,185,189,0.3);
  // box-shadow: 0px 4px 30px 4px rgba(55,55,55,0.1);
}


.logo-absolute-nav {
  position: absolute;
  left: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nstl-absolute {
  position: absolute;
  right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 100%;
}

.logo-in-text {
  font-family: "Circular-Book";
  font-size: 18px;
}

.logo-in-text-bold {
  font-family: "Circular-Medium";
  font-size: 18px;
  color: $orange;
}

.nav-small-link-design {
  font-family: "Circular-light";
  letter-spacing: -0.2px;
  font-size: 19px;
  position: relative;
  color: rgba(30,30,40,0.8);
  cursor: pointer;
}

.nsld-abs {
  position: absolute;
  bottom: -50px;
  width: 20px;
  left: calc(50% - 10px);
  text-align: center;
  font-size: 28px;
  display: none;
  color: $red;
}

.nsld-container-abs {
  position: absolute;
  width: 220px;
  background-color: $red;
  left: calc(50% - 110px);
  top: 60px;
  border-radius: 5px;
  padding: 0 32px;
  display: none;
}

.nsld-technic-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nsld-link {
  font-size: 15px;
  font-family: "Circular-Book";
  color: rgba(255,255,255,0.6);
  margin: 6px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: rgba(255,255,255,0.75);
  }
}

.nsld-icon {
  margin-right: 11px;
  padding-top: 4px;
  font-size: 9px;
}

.nsld-count {
  font-size: 12px;
  font-family: "Circular-Medium";
  color: rgba(255,255,255,0.70);
  text-align: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 18px;
}

.nsld-header {
  font-size: 17px;
  font-family: "Circular-Medium";
  color: rgba(255,255,255,0.8);
}

.nsld-row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 18px;
}

.blinds-color {
  font-size: 20px;
  color: rgba(255,255,255,0.8);
  margin-right: 7px;
  padding-top: 7px;
}

.active-link {
  font-family: "Circular-Bold" !important;
  color: rgba(255,255,255,0.95) !important;
}

.navbar-icon-adjust {
  font-size: 17px;
  padding-top: 7px;
  color: rgba(30,30,40,0.8);
  transition: 0.3s ease;
  &:hover {
    color: $red;
  }
}

.navbar-signout {
  color: $red;
}

.dynamic-green-link {
  color: $red;
}


.menu-index-active {
  position: absolute;
  width: 100%;
  border-top: 2px solid orange;
  bottom: -20px;
  font-size: 11px;
  opacity: 0;
  transition: 0.4s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.scp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}





