.subcategory-container {
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcategory-container-on-mobile {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcategory-container-promo {
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -45px;
}

.subcategory-container-promo-empty {
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcategory-container-promo-empty-v2 {
  width: 100%;
  height: 35px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subcategory-container-promo-empty-top {
  width: 100%;
  height: 20%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.subcategory-container-promo-empty-center {
  width: 100%;
  height: 62%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subcategory-container-promo-v5 {
  width: 100%;
  height: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
}

.subcategory-text {
  font-size: 14px;
  font-family: "Circular-Book";
  opacity: 0.8;
}


.subcategory-separator {
  height: 30%;
  border-left: 1px solid lightgrey;
  margin-right: 22px;
  margin-left: 22px;
}

.subcategory-big-title {
  font-size: 21px;
  font-family: "Circular-light";
  opacity: 0.82;
  letter-spacing: -0.2px;
  color: rgb(33,33,33);
}

.subcategory-product-count {
  font-size: 21px;
  font-family: "Circular-light";
  opacity: 0.55;
  letter-spacing: -0.2px;
  color: rgb(33,33,33);
}

.subcategory-custom-icon {
  width: 17px;
  height: 17px;
  background-color: white;
  border: 1px solid rgba(40,40,45,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-family: "Circular-Black";
  border-radius: 50%;
  margin-right: 12px;
  padding-top: 1px;
}




@media (max-width: 768px) {
  .subcategory-separator {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid transparent;
  }
}










.flex-form-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 75%;
  font-size: 21px;
}

.left-form-step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  font-family: "Circular-Book";
  color: grey;
  cursor: pointer;
  padding-bottom: 3px;
}

.right-form-step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  font-family: "Circular-Book";
  color: grey;
  cursor: pointer;
  padding-bottom: 3px;
}


.text-form-step {
  font-family: "Circular-Book";
  font-size: 20px;
}


.custom-tablink-mobile {
  font-family: "Circular-Book";
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 4px;
  color: grey;
  opacity: 0.98;
}


.custom-tablink-mobile.active {
  color: $red;
}

.custom-tablink-mobile-count {
  font-family: "Circular-light";
  margin-left: 8px;
  padding-top: 2px;
}

.custom-backdrop-v5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(25,25,28,0.6);
}


.absolute-close-icon {
  font-size: 24px;
  color: rgba(30,30,30,0.8);
  position: absolute;
  top: 17px;
  right: 19px;
}
