<div class="index-new-container">
  <%= render "product_header", category: @category %>
  <div class="custom-backdrop hidden"></div>
  <div class="grid-wrapper">
    <div class="row">
      <%= render @products %>
    </div>
  </div>
</div>
